@import url("https://fonts.googleapis.com/css2?family=Andika&family=Inter:wght@400;600;800&family=League+Spartan:wght@600&family=Mochiy+Pop+One&family=Montserrat:wght@300;500&family=Playfair+Display:wght@700&family=Poppins:wght@300;500;700&family=Roboto&family=Roboto+Condensed&display=swap");
body {
  font-family: "Mochiy Pop One", sans-serif;
  background-image:url("../assets/game_back.png");
  background-size:cover;
  background-position: center;
}
.balls {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: white;
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
}

.four_balls {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.four_balls > div {
  background-color: white;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* button for showing user's score */

.user_score {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.user_buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.user_score > div {
  width: 150px;
  padding: 10px;
  text-align: center;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.user_buttons > button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* lifeline css */

.life_line {
  width: 100%;
  display: flex;
  color: white;
  /* background-color: burlywood; */
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
  font-size: 20px;
}

/* for creating the heart-shape shape */

.heart-shape {
  background-color: red;
  display: inline-block;
  height: 13px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 13px;
}

.heart-shape:before,
.heart-shape:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 13px;
  position: absolute;
  width: 13px;
}

.heart-shape:before {
  top: -8px;
  left: 0;
}

.heart-shape:after {
  left: 8px;
  top: 0;
}



/* user-check */

.user-check{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 400px) and (min-width: 270px){
  .four_balls > div {
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
}